@CHARSET "UTF-8";

* {

    /*petites bordures de construction à enlever par la suite*/
}
html {
  height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    background-color : rgb(30,33,36);
}
#global_container {
    position: relative;
    max-width: 1100px;
    min-width: 900px;
    min-height: 1000px;
    max-height: 100%;
    margin: 0 auto;

    background-color: rgb(40,44,52);
    border-left: 1px solid rgb(24,26,31);
    border-right: 1px solid rgb(24,26,31);
}

/* conteneur comprenant juste l'outil recherche et le logo*/

#general_header {
    position: relative;
    width: 300px;
    top: 0px;
    left: 180px;
}
/*styles du panneau recherche et du logo*/
#general_header form {

    border-radius: 10px;
    display: block;
    position: absolute;
    text-align: center;
}
#menu_search_tool {
    border-radius: 10px;
    position: relative;
    width: 180px;
    height: 20px;
    top: 0px;
    border: 2px solid rgb(157,165,180);
    color:rgb(157,165,180);
    background-color: rgb(64, 70, 82);
}
#search_button {
    position: relative;
    top: 8px;
    border: 2px solid rgb(157,165,180);
    border-radius: 40%;
    background-color: rgb(64,70,82);
}
#search_button:hover {
    background-color: rgb(143,80,88);
    border: 2px solid rgb(211,211,211);
}
/*logo qui renvoie ver la page d'acceuil (log page si pas identifié, navigation si déja identifié)*/

#homepage {
    position: absolute;
    top: 5px;
    right: 0px;
    border: 1px solid rgb(24,26,31);
    border-radius: 10%;
    background-color : rgb(30,33,36);
    height: 72px;
    padding: 2px;
}
#homepage:hover{
    background-color: rgb(143,80,88);
    border: 1px solid rgb(211,211,211);
}
/*############## les polices utilisées sur le site ###########*/

h1 {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 500;
    line-height: 23px;
}
h2 {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;
}
/*######### les h3 seront utilisés spécifiquement pour les differents menus######*/

h3 {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 500;
    line-height: 23px;
}
li {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
p {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
blockquote {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
pre {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
