@CHARSET "UTF-8";

* {

    /*petites bordures de construction à enlever par la suite*/
}
html {
  height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    color: rgb(100, 100, 100);
    /*dégradé*/
    background-color : rgb(30,33,36);
}

#global_container {
    position: relative;
    max-width: 1100px;
    min-width: 900px;
    height: auto;
    margin: 0 auto;
    height: auto;
    background-color: rgb(40,44,52);
    border-left: 1px solid black;
    border-right: 1px solid black;

}

/* conteneur comprenant juste l'outil recherche et le logo*/

#general_header {
    position: relative;
    width: 300px;
    top: 0px;
    left: 110px;
}
/*styles du panneau recherche et du logo*/

#menu_search_tool {
    position: absolute;
    width: 180px;
    top: 12px;
}
#search_button {
    position: absolute;
    left: 190px;
    top: 10px;
}
/*logo qui renvoie ver la page d'acceuil (log page si pas identifié, navigation si déja identifié)*/

#homepage {
    position: absolute;
    top: 5px;
    right: 0px;
}
/*############## les polices utilisées sur le site ###########*/

h1 {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 500;
    line-height: 23px;
}
h2 {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;
}
/*######### les h3 seront utilisés spécifiquement pour les differents menus######*/

h3 {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 500;
    line-height: 23px;
}
li {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
p {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
blockquote {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
pre {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
