/*styles du menu de gauche*/

#menu_left {
    width: 150px;
    position: absolute;
    top: 0px;
    padding: 5px;
}


/*le menu avec tout les gros bouttons a gauche*/

.big_menu_button {
    border-radius: 40%;
    display: block;
    position: absolute;
    text-align: center;
    border: 1px solid rgb(157,165,180);
    color:rgb(157,165,180);
    background-color: rgb(64, 70, 82);

}

#profile_button {
    width: 80px;
    height: 80px;
    top: 5px;
    left: 5px;
    line-height: 95px
}
/*effet de surbrillance  quant on passe sur les boutons*/
#profile_button:hover, #mail_info:hover, #my_projects_button:hover, #agenda_button:hover, #ressources_button:hover, #moderation_button:hover  {
    border: 2px solid rgb(211,211,211);
    color:rgb(211,211,211);
}

#mail_info {
    width: 35px;
    height: 35px;
    right: 20px;
    top: 10px;
}

#mail_info img{
    position: relative;
    top: 7px;
}

#my_projects_button {
    width: 80px;
    height: 80px;
    top: 70px;
    right: 0px;
    line-height: 80px;
}


#agenda_button {
    width: 55px;
    height: 55px;
    top: 100px;
    line-height: 55px
}

#ressources_button {
    width: 80px;
    height: 80px;
    top: 160px;
    left: 40px;
    line-height: 80px
}

#ressources_info {
    width: 15px;
    height: 15px;
    top: 160px;
    left: 110px;
    line-height: 15px;
}

#moderation_button {
    width: 90px;
    height: 90px;
    top: 250px;
    right: 0px;
    line-height: 90px
}

#moderation_info_1 {
    width: 15px;
    height: 15px;
    top: 250px;
    right: 80px;
    line-height: 15px;
}

#moderation_info_2 {
    width: 15px;
    height: 15px;
    top: 275px;
    right: 90px;
    line-height: 15px;
}


/*
styles du sous menu projet
*/

.menu_expanded {
    display: block;
    position: absolute;
    width: 182px;
    top: 50px;
    left: 180px;
    border-radius: 10%;

    border: 1px solid rgb(211,211,211);
    background-color: rgb(143,80,88);
}

.sub_menu_item {
    color: rgb(211,211,211);
    display: block;
    text-align: center;
    margin: 5px;
    /*polices du sous menu*/
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;
}

.sub_menu_item a {
    color: rgb(211,211,211);
    text-decoration: none;
}

.sub_menu_item a:hover {
    color: white;
    text-decoration: none;
}
